@page "/"
@using Lahckoko.Blazor.Services.Temperature
@using Lahckoko.Core.Models
@using Lahckoko.Core.Scale
@inject IJSRuntime JsRuntime;
@inject ITemperatureService TemperatureService;

<h3>D3CodeHandled</h3>

@DateTime
@TempValue

<svg id="d3-svg" width="@Width" height="@Height">

</svg>

@code {

    private DateTime DateTime { get; set; }
    private double TempValue { get; set; }
    private TemperaturePoint2D[] TemperaturePoints { get; set; }

    public int Width { get; set; } = 500;
    public int Height { get; set; } = 500;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            TemperaturePoints = await TemperatureService.GetTemperatureAsync();
            var first = TemperaturePoints.First();
            DateTime = first.X;
            TempValue = first.Y;

            var dateTimeScale = new DateTimeLinearScale(new[] { TemperaturePoints.Min(x=>x.X), TemperaturePoints.Max(x => x.X) }, new double[] { 0, 1 });
            var temperatureScale = new LinearScale(new double[] { 0, 20 }, new double[] { 0, 1 });

            var scaledPoints = TemperaturePoints.Select(p => new Point2D(dateTimeScale.Scale(p.X), temperatureScale.Scale(p.Y))).ToList();

            var xScale = new LinearScale(new double[] { -1, 1 }, new double[] { 0, Width });
            var yScale = new LinearScale(new double[] { -1, 1 }, new double[] { Height, 0});

            var circularPoints = ToCircular(scaledPoints).Select(p => new Point2D(xScale.Scale(p.X), yScale.Scale(p.Y)));

            await JsRuntime.InvokeVoidAsync("d3DrawFunctionsJS.setSvg", "#d3-svg");
            await JsRuntime.InvokeVoidAsync("d3DrawFunctionsJS.drawPolygon", circularPoints);
        }
        StateHasChanged();
    }

    public List<Point2D> ToCircular(List<Point2D> points)
    {
        var list = new List<Point2D>();
        foreach (var p in points)
        {
            const double pi = Math.PI;
            var y = Math.Cos(p.X * 2 * pi) * p.Y;
            var x = Math.Sin(p.X * 2 * pi) * p.Y;
            list.Add(new Point2D(x, y));
        }

        return list;
    }
}
